<mat-toolbar color="primary">
  <span><a routerLink="/">Space app</a></span>
  <span class="spacer"></span>
  <span><a mat-button *ngIf="isLoggedIn$ | async" routerLink="/create-spacecraft" routerLinkActive="mat-accent">Create</a></span>
  <span><a mat-button *ngIf="!(isLoggedIn$ | async)" routerLink="/login" routerLinkActive="mat-accent">Login</a></span>
  <span><a mat-button *ngIf="!(isLoggedIn$ | async)" routerLink="/signup" routerLinkActive="mat-accent">Sign up</a></span>
  <span><a mat-button *ngIf="isLoggedIn$ | async" (click)="onLogout()">Logout</a></span>
</mat-toolbar>
