<mat-card>
  <!--<mat-spinner *ngIf="isLoading"></mat-spinner>-->
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">

    <div class="container">
    <mat-form-field>
      <input matInput name="email" ngModel type="email" placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" type="submit" [disabled]="!loginForm.valid">Login</button>

      <span class="spacer"></span>
      <a><button mat-button color="basic" type="button"  [disabled]="emailInput.invalid" (click)="onResetPassword(loginForm)">Reset password</button></a>
      <a><button mat-button color="basic" type="button" [disabled]="emailInput.invalid" (click)="onResendToken(loginForm)">Resend token</button></a>
    </div>

  </form>

</mat-card>
