<div id="mainDiv" *ngIf="spacecraft$ | async as spacecraft">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{spacecraft.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="mainCardTitle">

        <mat-grid-list cols="2" rowHeight="7:3">
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>Spacecraft</mat-card-subtitle>
              <mat-card-content>{{spacecraft.name}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>Distance</mat-card-subtitle>
              <mat-card-content>{{spaceflight?.distance}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>Start time</mat-card-subtitle>
              <mat-card-content>{{spaceflight?.startTime | date: 'dd. MM. yyyy'}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>ETA</mat-card-subtitle>
              <mat-card-content>{{arriveTime | date: 'dd. MM. yyyy'}} (d/m/y)</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>is Started</mat-card-subtitle>
              <mat-card-content>{{spaceflight?.isStarted}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>

          <div *ngIf="cosmonauts$ | async as cosmonauts">
            <mat-grid-tile *ngFor="let cosmonaut of cosmonauts">
              <mat-card class="subCard">
                <mat-card-subtitle>Cosmonaut</mat-card-subtitle>
                <mat-card-content>{{cosmonaut.name}}</mat-card-content>
              </mat-card>
            </mat-grid-tile>
          </div>

        </mat-grid-list>
      </mat-card>

    </mat-expansion-panel>

  </mat-accordion>
</div>

<br>
