.subCard {
  min-width: 160px;
  max-width: 400px;
}
.mainCardTitle{
  background: #e8e8e8;
  height: 100%;
}

#mainDiv {
  width: 450px;
}

mat-expansion-panel {

}

mat-grid-tile {
  /*background: #d0d0d0;*/
}
