<mat-card>
  <form [formGroup]="form" (submit)="onResetPassword()">

    <div class="container">
      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="New password"
        >
        <mat-error *ngIf="form.get('password').invalid">Please enter a valid password.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          type="password"
          formControlName="confirm"
          placeholder="Confirm password"
        >
        <mat-error *ngIf="form.get('confirm').invalid">Please enter a valid password.</mat-error>
      </mat-form-field>

      <mat-error *ngIf="form.get('confirm').touched && form.invalid">Confirmation does not match.</mat-error>
    </div>
    <div class="buttons">
      <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Save</button>
    </div>


  </form>

</mat-card>
