<mat-card>
  <h2 class="mat-h2">Create new spacefraft</h2>
  <form (submit)="onSave(spacecraftForm)" class="example-form" #spacecraftForm="ngForm">
    <mat-form-field class="example-full-width">
      <input
        [ngModel]="defaultSpacecraft.name"
        name="name"
        matInput
        type="text"
        placeholder="Name"
        required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        [ngModel]=defaultSpacecraft.numberOfSeats
        name="numOfSeats"
        matInput
        type="number"
        placeholder="Number of seats"
        required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        [ngModel]=defaultSpacecraft.fuelTankCapacity
        name="fuelTankCapacity"
        matInput
        type="number"
        placeholder="Fuel tank capacity"
        required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        [ngModel]=defaultSpacecraft.fuelConsumption
        name="fuelConsumption"
        matInput
        type="number"
        placeholder="Fuel consumption per 1 km"
        required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        [ngModel]=defaultSpacecraft.speed
        name="speed"
        matInput
        type="number"
        placeholder="Speed"
        required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        [ngModel]=defaultSpacecraft.maximumLoad
        name="maxLoad"
        matInput
        type="number"
        placeholder="Maximum load"
        required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input
        [ngModel]=defaultSpacecraft.foodBoxCapacity
        name="foodBoxCapacity"
        matInput
        type="number"
        placeholder="Food box capacity"
        required>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
    >Save
    </button>
  </form>
</mat-card>
