<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{spacecraft.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-card class="mainCardTitle">

      <mat-grid-list cols="2" rowHeight="7:3">
        <mat-grid-tile>
          <mat-card class="subCard">
            <mat-card-subtitle>Number of seats</mat-card-subtitle>
            <mat-card-content>{{spacecraft?.numberOfSeats}}</mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="subCard">
            <mat-card-subtitle>Fuel tank capacity</mat-card-subtitle>
            <mat-card-content>{{spacecraft?.fuelTankCapacity}}</mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="subCard">
            <mat-card-subtitle>Fuel consumption per km</mat-card-subtitle>
            <mat-card-content>{{spacecraft?.fuelConsumption}}</mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="subCard">
            <mat-card-subtitle>Current fuel</mat-card-subtitle>
            <mat-card-content>{{spacecraft?.fuel}}</mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="subCard">
            <mat-card-subtitle>Speed</mat-card-subtitle>
            <mat-card-content>{{spacecraft?.speed}}</mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="subCard">
            <mat-card-subtitle>Maximum load</mat-card-subtitle>
            <mat-card-content>{{spacecraft?.maximumLoad}}</mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="subCard">
            <mat-card-subtitle>Food box capacity</mat-card-subtitle>
            <mat-card-content>{{spacecraft?.foodBoxCapacity}}</mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card>

    <mat-action-row>
      <button mat-raised-button color="basic" (click)="onDelete()">Delete</button>
      <button mat-raised-button color="primary">Update</button>
    </mat-action-row>

  </mat-expansion-panel>

</mat-accordion>
<br>
