<div *ngIf="chatWindow?.messages">
  <mat-card>
    <app-message
      [message]="message"
      *ngFor="let message of chatWindow.messages">
    </app-message>
  </mat-card>
</div>

<br>

<mat-card>
  <mat-form-field class="example-full-width">
  <textarea
    cdkTextareaAutosize
    matInput
    placeholder="Write here"
    (keydown.enter)="send()"
    [(ngModel)]='newMessage.message'>
  </textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" type="button" (click)="send()">Send</button>
</mat-card>


<!--<textarea-->
<!--[(ngModel)]='newMessage.message'>-->
<!--</textarea>-->

<!--<button type="button" (click)="send()">Send</button>-->
