<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <h2 class="mat-h2">{{mode}} spaceflight</h2>
  <form (submit)="onSave(spaceflightForm)" class="example-form" #spaceflightForm="ngForm" *ngIf="!isLoading">

    <mat-form-field>
      <mat-select
        placeholder="Spacecraft"
        [(ngModel)]="defaultSpaceflight.spacecraft"
        (selectionChange)="onSelectChange()"
        name="spacecraft">
        <mat-option *ngFor="let spacecraft of spacecrafts$ | async" [value]="spacecraft">
          {{spacecraft.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select
        placeholder="Cosmonauts"
        [(ngModel)]="defaultSpaceflight.cosmonauts"
        name="cosmonauts"
        multiple>
        <mat-option *ngFor="let cosmonaut of cosmonauts$ | async" [value]="cosmonaut">
          {{cosmonaut.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="defaultSpaceflight.distance"
        name="distance"
        matInput
        type="text"
        placeholder="Distance"
        (ngModelChange)="onSelectChange()"
        required>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input
        [(ngModel)]="startDate"
        name="startDate"
        matInput
        type="Date"
        placeholder="Start date"
        (ngModelChange)="onSelectChange()"
        required>
    </mat-form-field>
    <p>ETA {{arriveTime | date: 'dd. MM. yyyy'}}</p>


    <button
      type="submit"
      mat-raised-button
      color="primary"
    >Save
    </button>
  </form>
</mat-card>
