<div id="mainDiv">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{cosmonaut.name}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-card class="mainCardTitle">

        <mat-grid-list cols="2" rowHeight="7:3">
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>Email</mat-card-subtitle>
              <mat-card-content>{{cosmonaut?.email}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>Date of birth</mat-card-subtitle>
              <mat-card-content>{{cosmonaut?.dateOfBirth}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>Weight</mat-card-subtitle>
              <mat-card-content>{{cosmonaut?.weight}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="subCard">
              <mat-card-subtitle>Food</mat-card-subtitle>
              <mat-card-content>{{cosmonaut?.foodConsumption}}</mat-card-content>
            </mat-card>
          </mat-grid-tile>

        </mat-grid-list>

      </mat-card>

      <mat-action-row>
        <button mat-raised-button color="basic" (click)="onDelete()">Delete</button>
        <a [routerLink]="['/edit-cosmonaut/', cosmonaut._id]"><button mat-raised-button color="primary">Update</button></a>
      </mat-action-row>

    </mat-expansion-panel>

  </mat-accordion>
</div>
<br>
